<!DOCTYPE html>
<head>
    <title> COVID Testing </title>
    <style>
        body {
            background-color: rgb(245, 172, 164);
        }
        .redBox {
            background-color: rgb(199, 0, 0);
            text-align: center;
            padding: 1px;
            border: 2px solid black;
        }
        form {
            text-align: center;
        }
        input.text {
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="redBox">
        <h1> Employee Login </h1>
    </div>
    <br><br>
    <form action="/results">
        Email: <br>
        <input class="text" type="text"> </input> <br>
        Password: <br>
        <input class="text" type="text"> <br>
        <input type="submit"> 
    </form>
</body>
</html>