<!DOCTYPE html>
<head>
    <title> COVID Testing </title>
    <style>
        .redBox {
            background-color: rgb(210, 0, 0);
            text-align: center;
            padding: 1px;
            border: 2px solid black;
        }
        .button {
            background-color: azure;
            margin: auto;
            width: 80%;
        }
    </style>
</head>

<body>
    <div class="redBox">
        <h1 style="height:15px"> COVID Testing Home Page </h1>
        <h2> By: Isaac Jon</h2>
    </div>
    <br><br><br>
    <div class="redBox button">
        <a href="/employee"><h1> Employee Login </h1> </a>
    </div>
    <br><br>
    <div class="redBox button">
        <a href="/lablogin"> <h1> Lab Login </h1> </a>
    </div>
</body>
</html>