<!DOCTYPE html>
<head>
    <title> COVID Testing </title>
    <style>
        .redBox {
            background-color: rgb(210, 0, 0);
            text-align: center;
            padding: 1px;
            border: 2px solid black;
        }
        form {
            text-align:center;
        }
        ul {
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="height:90px" class="redBox">
        <h1 style="height:17px"> Pool Mapping </h1>
        <a href="/"> Return to Home </a>
    </div>
    <br><br>
    <form action="/pool">
        <label for="addPoolBcode">Pool Barcode:</label> <input type="text" id="addPoolBcode" name="addPoolBcode"> <br>
    <h2 style="text-align:center"> Current Tests </h2>
        <ul>
